Final deliverables/Final code/flow json
[{"id":"a665780f169b1a40","type":"tab","label":"Smart SIgn Board ","disabled":false,"info":"","env":[]},{"id":"1866aea1a4def389","type":"http response","z":"a665780f169b1a40","name":"","statusCode":"","headers":{},"x":850,"y":180,"wires":[]},{"id":"d6d6ca3d6543e43c","type":"function","z":"a665780f169b1a40","name":"function","func":"msg.payload={\n    \"Temperature\":global.get(\"Temperature\"),\n    \"Message\":global.get(\"Message\"),\n     \"Sign\":global.get(\"Sign\"),\n     \"Speed\":global.get(\"Speed\"),\n     \"Visibility\":global.get(\"Visibility\")\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":220,"wires":[["1866aea1a4def389"]]},{"id":"7a440761a5dc06e1","type":"function","z":"a665780f169b1a40","name":"Temperature","func":"msg.payload=global.set(\"Temperature\",msg.payload.Temperature)\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":280,"wires":[["dd60d0cd44f53230"]]},{"id":"59665ef11cc6f0b9","type":"function","z":"a665780f169b1a40","name":"Message","func":"msg.payload=global.set(\"Message\",msg.payload.Message)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":420,"wires":[["2174c69e66251fa9"]]},{"id":"f3e56020b353aea7","type":"function","z":"a665780f169b1a40","name":"Sign","func":"msg.payload =global.set(\"Sign\",msg.payload.Sign)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":480,"wires":[["892445c2f95b11bd"]]},{"id":"0827092eb8d2a502","type":"function","z":"a665780f169b1a40","name":"Speed","func":"msg.payload =global.set(\"Speed\",msg.payload.Speed)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":540,"wires":[["991d1798818e3f1d"]]},{"id":"4905bab51e824371","type":"function","z":"a665780f169b1a40","name":"Visibility","func":"msg.payload =global.set(\"Visibility\",msg.payload.Visibility)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":600,"wires":[["0e191e7c4608d16f"]]},{"id":"37a10ce31e05e108","type":"debug","z":"a665780f169b1a40","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1011,"y":235.99998474121094,"wires":[]},{"id":"5dac51f4b62c54ac","type":"function","z":"a665780f169b1a40","name":"Humid","func":"msg.payload =global.set(\"Humidity\", msg.payload.Humidity)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":320,"wires":[["1a5d495b03b8591d"]]},{"id":"0875d9298bc37672","type":"function","z":"a665780f169b1a40","name":"pressure","func":"msg.payload =global.set(\"Pressure\", msg.payload.Pressure)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":360,"wires":[["4c6f9441b30f27fb"]]},{"id":"5f353bd1dcfabf21","type":"inject","z":"a665780f169b1a40","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":680,"wires":[["2bbebe76411d314e","0ec3e4e785cc5a8a"]]},{"id":"0ec3e4e785cc5a8a","type":"function","z":"a665780f169b1a40","name":"","func":"var timestamp = msg.payload;\nlet time = new Date(timestamp).toLocaleTimeString();\n\nreturn {\n payload: time\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":720,"wires":[["e966dce12eb032e1"]]},{"id":"caae42b5aebce3b7","type":"inject","z":"a665780f169b1a40","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/1 0-17 * * *","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":490,"y":60,"wires":[["9175d65e48adfc10","e4bc335515d8e59b","1e7169e7c950782b"]]},{"id":"42c3c2445abcfe9f","type":"inject","z":"a665780f169b1a40","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":800,"wires":[["e0de444dbe960010"]]},{"id":"b45c89d88a9a766f","type":"function","z":"a665780f169b1a40","name":"","func":"var timestamp = new Date(msg.payload.sunset * 1000);\nlet sunset = timestamp.toLocaleTimeString();\n\nreturn {\n payload: sunset\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":1020,"wires":[["8fa23367309e6650"]]},{"id":"6d95aae6ca7cf996","type":"function","z":"a665780f169b1a40","name":"","func":"var timestamp = new Date(msg.payload.sunrise * 1000);\nlet sunrise = timestamp.toLocaleTimeString();\n\nreturn {\n payload: sunrise\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":980,"wires":[["71a1943de4687dd9"]]},{"id":"160562325a9c4f4d","type":"debug","z":"a665780f169b1a40","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":940,"wires":[]},{"id":"e4bc335515d8e59b","type":"ui_media","z":"a665780f169b1a40","group":"92156306a8e5b510","name":"Sunset","width":1,"height":1,"order":9,"category":"l","file":"WhatsApp Image 2022-11-16 at 2.36.24 PM.jpeg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":780,"y":140,"wires":[[]]},{"id":"9175d65e48adfc10","type":"ui_media","z":"a665780f169b1a40","group":"92156306a8e5b510","name":"Sunrise","width":1,"height":1,"order":7,"category":"j","file":"WhatsApp Image 2022-11-16 at 2.36.24 PM (1).jpeg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":780,"y":100,"wires":[[]]},{"id":"1e7169e7c950782b","type":"ui_media","z":"a665780f169b1a40","group":"92156306a8e5b510","name":"Clouds","width":1,"height":1,"order":5,"category":"d","file":"WhatsApp Image 2022-11-16 at 2.36.24 PM (2).jpeg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":780,"y":60,"wires":[[]]},{"id":"704f75639b4f3dc4","type":"ibmiot in","z":"a665780f169b1a40","authentication":"apiKey","apiKey":"033a3899dd033fea","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":350,"y":280,"wires":[["37a10ce31e05e108","7a440761a5dc06e1","59665ef11cc6f0b9","f3e56020b353aea7","0827092eb8d2a502","4905bab51e824371","5dac51f4b62c54ac","0875d9298bc37672"]]},{"id":"2bbebe76411d314e","type":"ui_clock","z":"a665780f169b1a40","name":"","group":"92156306a8e5b510","order":13,"width":4,"height":3,"x":870,"y":680,"wires":[]},{"id":"2174c69e66251fa9","type":"ui_text","z":"a665780f169b1a40","group":"c415cdab87a58124","order":2,"width":7,"height":2,"name":"","label":"Message:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":860,"y":440,"wires":[]},{"id":"892445c2f95b11bd","type":"ui_text","z":"a665780f169b1a40","group":"c415cdab87a58124","order":3,"width":7,"height":2,"name":"","label":"Diversion Sign:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":880,"y":480,"wires":[]},{"id":"991d1798818e3f1d","type":"ui_text","z":"a665780f169b1a40","group":"c415cdab87a58124","order":4,"width":7,"height":2,"name":"","label":"Speed:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":880,"y":540,"wires":[]},{"id":"0e191e7c4608d16f","type":"ui_text","z":"a665780f169b1a40","group":"c415cdab87a58124","order":5,"width":7,"height":2,"name":"","label":"Visibility :","format":"{{msg.payload}}","layout":"row-spread","className":"","x":880,"y":600,"wires":[]},{"id":"e966dce12eb032e1","type":"ui_text","z":"a665780f169b1a40","group":"66745a2a0f7046de","order":3,"width":3,"height":1,"name":"Digital time","label":"Time","format":"{{value}}","layout":"row-left","className":"digital_time","x":890,"y":720,"wires":[]},{"id":"71a1943de4687dd9","type":"ui_text","z":"a665780f169b1a40","group":"92156306a8e5b510","order":2,"width":2,"height":1,"name":"Sunrise","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1120,"y":980,"wires":[]},{"id":"8fa23367309e6650","type":"ui_text","z":"a665780f169b1a40","group":"92156306a8e5b510","order":3,"width":2,"height":1,"name":"Sunset","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1120,"y":1020,"wires":[]},{"id":"7008f21654eebb6e","type":"ui_text","z":"a665780f169b1a40","group":"92156306a8e5b510","order":1,"width":3,"height":1,"name":"Clouds","label":"","format":"{{msg.payload.clouds}} %","layout":"row-center","className":"clouds","x":1100,"y":820,"wires":[]},{"id":"dd60d0cd44f53230","type":"ui_gauge","z":"a665780f169b1a40","name":"","group":"36b1700d960d0791","order":2,"width":13,"height":3,"gtype":"gage","title":"Temperature","label":"Fahrenheit ","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":850,"y":280,"wires":[]},{"id":"1a5d495b03b8591d","type":"ui_gauge","z":"a665780f169b1a40","name":"","group":"36b1700d960d0791","order":4,"width":7,"height":3,"gtype":"donut","title":"Humidity","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":840,"y":320,"wires":[]},{"id":"4c6f9441b30f27fb","type":"ui_gauge","z":"a665780f169b1a40","name":"","group":"36b1700d960d0791","order":5,"width":6,"height":3,"gtype":"compass","title":"Pressure","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":840,"y":360,"wires":[]},{"id":"0a02ca455fc7a9cf","type":"ui_gauge","z":"a665780f169b1a40","name":"","group":"36b1700d960d0791","order":8,"width":6,"height":3,"gtype":"compass","title":"Wind Direction","label":"","format":"{{payload.winddirection}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1140,"y":920,"wires":[]},{"id":"cce818b662356d9f","type":"ui_gauge","z":"a665780f169b1a40","name":"","group":"36b1700d960d0791","order":7,"width":7,"height":3,"gtype":"gage","title":"Wind Speed","label":"m/s","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1130,"y":880,"wires":[]},{"id":"e0de444dbe960010","type":"openweathermap","z":"a665780f169b1a40","name":"Coimbatore","wtype":"current","lon":"","lat":"","city":"Coimbatore","country":"India","language":"en","x":530,"y":800,"wires":[["b45c89d88a9a766f","6d95aae6ca7cf996","cce818b662356d9f","0a02ca455fc7a9cf","160562325a9c4f4d","7008f21654eebb6e"]]},{"id":"dc897a0cc5dda0f0","type":"http in","z":"a665780f169b1a40","name":"","url":"/data2","method":"get","upload":false,"swaggerDoc":"","x":348.40000915527344,"y":145,"wires":[["d6d6ca3d6543e43c"]],"l":false},{"id":"879f10221c999182","type":"ui_spacer","z":"a665780f169b1a40","name":"spacer","group":"c415cdab87a58124","order":1,"width":7,"height":1},{"id":"1368dd5aa0510609","type":"ui_spacer","z":"a665780f169b1a40","name":"spacer","group":"36b1700d960d0791","order":1,"width":13,"height":1},{"id":"b446511f74c544f2","type":"ui_spacer","z":"a665780f169b1a40","name":"spacer","group":"36b1700d960d0791","order":3,"width":13,"height":1},{"id":"07d55f927a9a0c2e","type":"ui_spacer","z":"a665780f169b1a40","name":"spacer","group":"36b1700d960d0791","order":6,"width":13,"height":1},{"id":"057ce87ffd2afc30","type":"ui_spacer","z":"a665780f169b1a40","name":"spacer","group":"92156306a8e5b510","order":4,"width":1,"height":1},{"id":"0c6511d7415920e4","type":"ui_spacer","z":"a665780f169b1a40","name":"spacer","group":"92156306a8e5b510","order":6,"width":1,"height":1},{"id":"1e8b382defc5e4ba","type":"ui_spacer","z":"a665780f169b1a40","name":"spacer","group":"92156306a8e5b510","order":8,"width":1,"height":1},{"id":"6a4ec99813f4da45","type":"ui_spacer","z":"a665780f169b1a40","name":"spacer","group":"92156306a8e5b510","order":10,"width":1,"height":1},{"id":"58ca5ea666422e71","type":"ui_spacer","z":"a665780f169b1a40","name":"spacer","group":"92156306a8e5b510","order":11,"width":7,"height":1},{"id":"8b71d69aa81c0f36","type":"ui_spacer","z":"a665780f169b1a40","name":"spacer","group":"92156306a8e5b510","order":12,"width":1,"height":1},{"id":"68f707c97d7a7b5e","type":"ui_spacer","z":"a665780f169b1a40","name":"spacer","group":"92156306a8e5b510","order":14,"width":2,"height":1},{"id":"704f26d0de8b8fd5","type":"ui_spacer","z":"a665780f169b1a40","name":"spacer","group":"92156306a8e5b510","order":15,"width":1,"height":1},{"id":"bac75fbd925d96aa","type":"ui_spacer","z":"a665780f169b1a40","name":"spacer","group":"92156306a8e5b510","order":16,"width":2,"height":1},{"id":"5aad3a102ac39b22","type":"ui_spacer","z":"a665780f169b1a40","name":"spacer","group":"92156306a8e5b510","order":17,"width":1,"height":1},{"id":"392077ff0819cb6d","type":"ui_spacer","z":"a665780f169b1a40","name":"spacer","group":"92156306a8e5b510","order":18,"width":2,"height":1},{"id":"92156306a8e5b510","type":"ui_group","name":"","tab":"6c91a03b3eb93e3f","order":3,"disp":true,"width":7,"collapse":false,"className":""},{"id":"033a3899dd033fea","type":"ibmiot","name":"API","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c415cdab87a58124","type":"ui_group","name":"Smart Sign Board","tab":"6c91a03b3eb93e3f","order":1,"disp":true,"width":7,"collapse":false,"className":""},{"id":"66745a2a0f7046de","type":"ui_group","name":"","tab":"eb94216d.968598","order":1,"disp":true,"width":25,"collapse":false,"className":"clock"},{"id":"36b1700d960d0791","type":"ui_group","name":"","tab":"6c91a03b3eb93e3f","order":2,"disp":true,"width":13,"collapse":false,"className":""},{"id":"6c91a03b3eb93e3f","type":"ui_tab","name":"Smart Board","icon":"dashboard","disabled":false,"hidden":false},{"id":"eb94216d.968598","type":"ui_tab","name":"Wetterstation","icon":"fa-thermometer-half","order":5,"disabled":false,"hidden":false}]
